C:\Users\john\Documents\openClassrooms\Project_7-Library_troparo\project\new\troparo\troparo-business\src\main\resources\config.properties
pgdata
troparo-web/src/main/java/org/troparo/entities/**
troparo-web/src/main/java/org/troparo/services/**
db-init/
jenkins/
sonarqube/
