<div th:fragment="loans" xmlns:th="http://www.w3.org/1999/xhtml">

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Borrowed Date</th>
            <th>Return Due On</th>
            <th>ISBN</th>
            <th>Title</th>
            <th>Status</th>
            <th>Renewable</th>
        </tr>
        </thead>


        <tbody>
        <th:block data-th-each="loan : ${member.loanList}">
            <div th:if="${loan.status} == 'OVERDUE'">
                <td style="color: red"></td>
            </div>
            <div th:unless="${loan.status}">
                <td style="color: blue"></td>
            </div>


            <td data-th-text="${loan.id}"></td>
            <td data-th-text="${#dates.format(loan.startDate, 'dd-MM-yyyy')}">startDate</td>
            <td data-th-text="${#dates.format(loan.plannedEndDate, 'dd-MM-yyyy')}">plannedEndDate</td>
            <td data-th-text="${loan.book.isbn}"></td>
            <td data-th-text="${loan.book.title}"></td>
            <td data-th-text="${loan.status}"></td>
            <td>
                <div th:unless="${loan.checked}">
                    <div>
                        <form method="post" th:action="@{/remove}" th:object="${remove}">


                            <input id="loanId" name="loanId" th:value="${loan.id}" type="hidden">


                            <button class="btn btn-outline-danger" type="submit">Remove
                            </button>

                        </form>
                    </div>
                </div>

                <div th:if="${loan.checked}">
                    <div th:if="${loan.renewable}">
                        <div>
                            <form method="post" th:action="@{/renew}" th:object="${renew}">


                                <input id="id" name="id" th:value="${loan.id}" type="hidden">


                                <button class="btn btn-outline-info" type="submit">Renew
                                </button>

                            </form>
                        </div>

                    </div>
                    <div th:unless="${loan.renewable}">
                        <img alt="forbidden" style="width: 80px;height: auto" th:src="@{/img/forbidden.jpg}"/>
                    </div>
                </div>
            </td>

        </th:block>
        </tbody>
    </table>


</div>