<div th:fragment="loans" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Borrowed Date</th>
                    <th>Return Due On</th>
                    <th>ISBN</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>


                <tbody th:each="loan : ${#lists.sort(member.loanList)}">

                    <tr th:style="((${loan.status == 'OVERDUE'}) ? 'background-color:#ff9999' : ((${loan.status == 'PLANNED'}) ? 'background-color:#e6e6ff' : 'background-color:#e6f7ff')) " >

                    <td data-th-text="${loan.id}">loanId</td>
                    <td data-th-text="${loan.startDate} ? ${#dates.format(loan.startDate, 'dd-MM-yyyy')}:'N/A' ">
                        startDate
                    </td>
                    <td data-th-text="${loan.plannedEndDate} ? ${#dates.format(loan.plannedEndDate, 'dd-MM-yyyy')}:'N/A'">
                        plannedEndDate
                    </td>
                    <td data-th-text="${loan.book.isbn}">ISBN</td>
                    <td data-th-text="${loan.book.title}">title</td>
                    <td data-th-text="${loan.status}">status</td>
                    <td>
                        <div th:unless="${loan.startDate}">
                            <div class="col text-center">
                                <form method="post" th:action="@{/remove}" th:object="${remove}">


                                    <input id="loanId" name="loanId" th:value="${loan.id}" type="hidden">


                                    <button class="btn btn-outline-danger btn-block" type="submit">Remove
                                    </button>

                                </form>
                            </div>
                        </div>

                        <div th:if="${loan.startDate}">
                            <div th:if="${loan.renewable}">
                                <div class="col text-center">
                                    <form method="post" th:action="@{/renew}" th:object="${renew}">


                                        <input id="id" name="id" th:value="${loan.id}" type="hidden">


                                        <button class="btn btn-outline-info btn-block" type="submit">Renew
                                        </button>

                                    </form>
                                </div>

                            </div>
                            <div th:unless="${loan.renewable}" class="col text-center">

                            </div>
                        </div>
                    </td>

                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>