<div th:fragment="navbar" xmlns:th="http://www.w3.org/1999/xhtml">


    <div class="navbar navbar-inverse navbar-fixed-top roundBorder">
        <div class="row"></div>

        <div class="navbar-header">
            <a style="text-decoration: none; color: black" th:href="@{'/'}">
                <img alt="book" class="navbar-brand"
                     height="42"
                     src="https://s.cdpn.io/3/kiwi.svg"
                     width="42"/>
                Troparo</a>
        </div>

        <button class="btn btn-info" onclick="toggle_displays('myLoans', 'myProfile')">Loans</button>
        <button class="btn btn-info" onclick="toggle_displays('myProfile', 'myLoans')">Profile</button>

        <h2 class="login">
            <td data-th-text="${member.login}"></td>
        </h2>
        <form method="post" th:action="@{/logout}">
            <input class="btn btn-secondary" onClick="sessionStorage.setItem('popState', 'hide')" type="submit"
                   value="Sign Out"/>
        </form>


    </div>
</div>