<div th:fragment="resaCalendar" xmlns:th="http://www.w3.org/1999/xhtml">

    <input id="datepicker" width="312" />

    <script th:inline="javascript">
        /*<![CDATA[*/
        var date = new Date();
        var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
        var disabled = [[${disabled}]];
        $('#datepicker').datepicker({
            format: "mm/dd/yyyy",
            minDate: today,
            disableDates: disabled
        });
        /*]]>*/
    </script>


</div>

