<div th:fragment="search" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row">

        <div class="col-6">
            <form method="post" th:action="@{/search}" th:object="${search}">
                <div class="form-group col text-center ">
                    <input
                            class="form-control"
                            id="ISBN"
                            name="isbn"
                            placeholder="ISBN"
                            th:value="${isbn}"
                            type="text">
                </div>
                <div class="form-group col text-center ">
                    <input autofocus="autofocus"
                           class="form-control"
                           id="Title"
                           name="title"
                           placeholder="Title"
                           th:value="${title}"
                           type="text">
                </div>
                <div class="form-group col text-center ">
                    <input class="form-control"
                           id="Author"
                           name="author"
                           placeholder="Author"
                           th:value="${author}"
                           type="text">
                </div>
                <div class="form-group">

                    <div class="col text-center">
                        <input class="form-control btn btn-info"
                               id="search-submit"
                               name="search-submit"
                               type="submit"
                               value="Search">
                    </div>

                </div>
            </form>

        </div>
        <div class="col-6 my-auto " style="background-color: #fff2e6" >For better performance, the system currently limits the search result to <strong>30</strong> items.<br>
            If you can't find what you're looking for, please refine the search or get in touch with our team. Thanks
        </div>


    </div>

    <br><br><br>
    <div th:if="${!#strings.isEmpty(title) or !#strings.isEmpty(author) or !#strings.isEmpty(isbn) }">
        <div th:if="${#lists.isEmpty(books)}">
            <h2 style="background-color: #ff9999">No Result found!</h2>
        </div>
        <div th:unless="${#lists.isEmpty(books)}">
    <div th:replace="fragments/search_result :: search_result"></div>
        </div>
    </div>
</div>