<div th:fragment="profile" xmlns:th="http://www.w3.org/1999/xhtml">

    <table class="table table-striped">
        <thead>
        <tr>
            <th th:text="Login">Date Planted</th>
            <th th:text="FirstName">Covered</th>
            <th th:text="LastName">Type</th>
            <th th:text="Email">Features</th>
            <th th:text="DateJoin">Rows</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${member.login}">login</td>
            <td th:text="${member.firstName}">firstName</td>
            <td th:text="${member.lastName}">lastName</td>
            <td th:text="${member.email}">Email</td>
            <td th:text="${#dates.format(member.dateJoin, 'dd-MM-yyyy')}">dateJoin</td>
        </tr>
        </tbody>
    </table>

</div>