<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.w3.org/1999/xhtml">


<div th:replace="fragments/header :: head1"></div>
<body>
<div class="container">

    <div th:replace="fragments/navbar :: navbar"></div>

    <div th:fragment="content" th:remove="tag">
        <div id="myLoans" style="display: none">
            <div th:replace="fragments/loans :: loans"></div>
        </div>
        <div id="myProfile" style="display: none">
            <div th:replace="fragments/table_profile :: profile"></div>
        </div>

    </div>
    <br><br><br>

    <div th:replace="fragments/search :: search"></div>



    <br><br><br>


</div>


<script th:inline="javascript">
    /*<![CDATA[*/

    var overdue = [[${overdue}]];
    overdueInitPopup(overdue);
    /*]]>*/

</script>

</body>
</html>


