<!DOCTYPE html>
<html layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml">

<div th:replace="fragments/header :: head1"></div>
<body>


<div id="errors" th:if="${(param.error != null) and (param.error[0] == 'true')}">
    Input is incorrect
</div>



<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-3">
            <div layout:fragment="content" th:remove="tag">

                <h2>Reset Password</h2>
                <form method="post" th:action="@{/passwordResetSendEmail}">

                    <div class="form-group">
                        <input class="form-control"
                               id="login"
                               name="login"
                               placeholder="Login"
                               th:value="${param.login}"
                               type="text">
                    </div>

                    <div class="form-group">
                        <input class="form-control"
                               id="email"
                               name="email"
                               placeholder="Email"
                               th:value="${param.email}"
                               type="text">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <input class="form-control btn btn-info"
                                       id="reset-submit"
                                       name="reset-submit"
                                       type="submit"
                                       value="Send Reset Link">
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div class="col-lg-3"></div>


</div>
<div th:replace="fragments/header :: foot"></div>

</html>