<!DOCTYPE html>
<html layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml">

<div th:replace="fragments/header :: head1"></div>
<body>


<div id="errors" th:if="${(param.error != null) and (param.error[0] == 'true')}">
    Input is incorrect
</div>



<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Issue while resetting password!</h1>
            ( Check that the login and email are correct )
            <a href="login">Login</a>

        </div>



</div>
<div th:replace="fragments/header :: foot"></div>

</html>