<!DOCTYPE html>
<html lang="en" layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml">

<div th:replace="fragments/header :: head-box"></div>
<body>


<div id="errors" th:if="${(param.error != null) and (param.error[0] == 'true')}">
    Input is incorrect
</div>

<div class="container">
    <div class="row ">

    </div>
    <div class="row ">
        <div class="col-4 "></div>
        <div class="col-4 ">
            <h2>Reset Password</h2>
            <form method="post" th:action="@{/passwordReset1}">

                <div class="form-group">
                    <input class="form-control"
                           id="token"
                           name="token"
                           placeholder="Token"
                           th:value="${param.token}"
                           type="hidden">
                </div>

                <div class="form-group">
                    <input class="form-control"
                           id="login"
                           name="login"
                           placeholder="Login"
                           th:value="${param.login}"
                           type="hidden">
                </div>
                <div th:if="${error}">
                    <div class="alert alert-danger">
                        <td data-th-text="${error}"></td>
                    </div>
                </div>

                <div class="form-group">
                    <input class="form-control"
                           id="password"
                           name="password"
                           placeholder="Password"
                           th:value="${password}"
                           type="password">
                </div>
                <div class="form-group">
                    <input class="form-control"
                           id="confirmPassword"
                           name="confirmPassword"
                           placeholder="Repeat Password"
                           th:value="${confirmPassword}"
                           type="password">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col text-center">
                            <input class="form-control btn btn-info"
                                   id="reset-submit"
                                   name="reset-submit"
                                   type="submit"
                                   value="Reset Password">
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-4 ">
            <ul class="passwordInfo">
                <li>Length: 3-8 characters</li>
                <li>at least 1 upperCase</li>
                <li>at least 1 lowerCase</li>
                <li>at least 1 number</li>
                <li class="toolTip">at least 1 special Character<strong>*</strong>
                    <span class="toolTipText">~`!@#$%^&*()-_=+\|[{]};:'",<.>/?</span>
                </li>
            </ul>
    </div>

</div>
</div>
</body>


</html>