<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/html">
<head>

    <title>overdue</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>
<body>
<div align="center">
    Hello FIRSTNAME LASTNAME, <br><br>
    This is to inform you that the following loan is overdue by <strong>DIFFDAYS</strong> days as you were supposed to
    return the following item by DUEDATE:<br>
    <br>
    <div>
        <strong>ISBN:</strong> ISBN<br>
        <strong>Title:</strong> TITLE<br>
        <strong>Author:</strong> AUTHOR<br>
        <strong>Edition:</strong> EDITION<br><br>
    </div>
    As a reminder, according to our policy, a fee of <strong>1 euro</strong> is applied per day per item.<br><br>
    Please return that item as soon as possible <br><br>
    Best Regards<br><br>
    mail Loan Manager
</div>
<br><br>
</body>
<footer>
    <div align="center">mail Name - Address - Contact Number</div>
</footer>
</html>