<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<!--
<hibernate-configuration>

    <sessionFactory>

        &lt;!&ndash; Database connection settings &ndash;&gt;
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/troparo</property>
       &lt;!&ndash; <property name="hibernate.connection.url">jdbc:postgresql://db:5432/troparo</property>&ndash;&gt;
        <property name="hibernate.connection.username">ocp</property>
        <property name="hibernate.connection.password">123</property>
        <property name="hibernate.current_session_context_class">thread</property>
        &lt;!&ndash; SQL dialect &ndash;&gt;
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
        &lt;!&ndash; Specify session context &ndash;&gt;
        &lt;!&ndash;<property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>&ndash;&gt;

    </sessionFactory>

</hibernate-configuration>-->
